.board {
  width: 600px;
  height: 600px;
  background-color: #34495e;
  border: 6px solid #111c27;
  border-radius: 10px;
  margin: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
  border: 6px solid #111c27;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-0:hover {
  cursor: pointer;
}

.status-1 {
  background-color: rgb(180, 76, 38);
}

.status--1 {
  background-color: rgb(23, 177, 126);
}

body {
  background-color: rgb(99, 87, 87);
}

h3,
h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  margin: 5px;
  color: whitesmoke;
  word-spacing: -0.1rem;
}
span.turn {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  border: 2px solid #34495e;
  min-width: 150px;
  text-align: center;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .board {
    height: 350px;
    width: 350px;
  }
}
